.list {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12.5px );
  -webkit-backdrop-filter: blur( 12.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 350px;
  padding: 6px;
  margin: 5px;
  display: inline-block;

}
.list__title {
  margin: 0;
  padding: 16px 0;
  color:#fff;
}
.list a {
  width: 100%;
  display: block;
  text-decoration: none;
  margin-top: 10px;
}

input{
  width: 300px;
  padding: 10px;
  border: 1px solid violet;
  outline: 0;
  background: #fff;
  box-shadow:none;
}
